@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;800&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
    list-style: none;
    text-decoration: none;
}

body{
    background-color: #FFFFFF;
    min-width: 400px;
}

.header{
    background-color: #fff;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 85px;
    padding: 5px 10%;
    box-shadow: 0 4px 24px -22px black;
}

.header .logo{
    cursor: pointer;
    margin-right: auto;
}

.header .logo img{
    height: 70px;
    width: auto;
    transition: all 0.3s;
}

.header .logo img:hover{
    transform: scale(1.2);
}

.header .nav-links{
    list-style: none;
}

.header .nav-links li{
    display: inline-block;
    padding: 0 20px;    
}

.header .nav-links li:hover,
/**/.overlay a:hover{
    transform: scale(1.1);
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.header .nav-links a{
    font-size: 700;
    color: #0058AC; 
}

.header .nav-links a:hover{
    color: #00b2ca;
}

/**/.menu {
    display:none;
}

.header .btn button,
/**/.header .menu button{
    margin-left: 20px;
    font-weight: 700;
    color: #FFFFFF;
    padding: 9px 25px;
    background: #00b2ca;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.header .btn button:hover,
/**/.header .menu button:hover{
    background-color: #e2f1f8;
    color: #111111;
    transform: scale(1.1);
}


/**/@media screen and (max-width: 800px){
    .nav-links, .btn {
        display: none;
    }
    .menu {
        display: inherit;
    }
}



/*Nav Mobile*/

.header a{
    text-decoration: none;  
    /*borramos el que teniamos en .header .nav-links a*/ 
}

.header .overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: rgba(33, 49, 63, .95);
    overflow: hidden;
    transition: all 0.3s ease 0s;
}

.header .overlay .overlay-content{
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;    
}

.header .overlay a{
    padding: 15px;
    font-size: 36px;
    display: block;
    transition: all 0.3s ease 0s;
    font-weight: 700;
    color: #eceff1;
}

.header .overlay a:hover, 
.header .overlay a:focus{
    color: #ffbc0e;
}

.header .overlay .close{
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 65px;
}

@media screen and (max-height:450px) {
    .header .overlay a{
        font-size: 20px;
    }
    .header .overlay .close{
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}

/* Para el footer */

.container{
    max-width: 1200px;
    margin: 0 auto;
}

.footer{
    background-color: #24262B;
    padding: 80px 0;
}

.footer-row{
    display: flex;
    flex-wrap: wrap;
}

.footer-links{
    width: 25%;
    padding: 0 15px;
}

.footer-links h4{
    font-size: 20px;
    color: #FFFFFF;
    margin-bottom: 25px;
    font-weight: 500;
    border-bottom: 2px solid #00C3FF;
    padding-bottom: 10px;
    display: inline-block;
}

.footer-links ul li a{
    font-size: 18px;
    text-decoration: none;
    color: #BBBBBB;
    display: block;
    margin-bottom: 15px;
    transition: all .3s ease;
}

.footer-links ul li a:hover{
    color: #FFFFFF;
    padding-left: 6px;
}

.social-link a{
    display: inline-block;
    min-height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #FFFFFF;
    transition: all .5s ease;
}

.social-link a:hover{
    background-color: #00C3FF;
}

@media(max-width:991px){
    .footer-row{
        text-align: center;
    }

    .footer-links{
        width: 100%;
        margin-bottom: 30px;
    }
}

/*Para el slider */

.slider-frame{
    width: 1280px;
    height: auto;
    margin: 50px auto 0;
    overflow: hidden;
    margin-bottom: 30px;
}

.slider-frame ul{
    display: flex;
    padding: 0;
    width: 400%;
    animation: slide 16s infinite alternate ease-in-out;
}

.slider-frame li{
    list-style: none;
    width: 100%;   
}

.slider-frame img{
    width: 100%;
    height: 560px;
}

@keyframes slide{
    0% {margin-left: 0%;}
    20% {margin-left: 0%;}

    25% {margin-left: -100%;}
    45% {margin-left: -100%;}

    50% {margin-left: -200%;}
    70% {margin-left: -200%;}

    75% {margin-left: -300%;}
    95% {margin-left: -300%;}
}

/*Para el contenido principal*/

.contenedor-botones{
    display: flex;
    justify-content: center;
    background-color: #FFF;
    padding-bottom: 40px;
}

.contenedor-botones a{
    color: #fff;
    padding: 10px;
}



.btn-1{
    background-color: #D2691E;
    flex-direction: column;
    display: block;
    align-items: center;
    text-align: center;
    margin: 0 80px;
    max-width: 200px;
}

.btn-1 img{
    display: block;
    margin: auto;
    width: 100px;
    height: 100px;
}

/*Para el anuncio*/

.anuncio{
    background-color: #0058AC;
    height: 40rem;
    display: block;
}

.anuncio h2{
    text-align: center;
    font-size: 35px;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #FFF;
}

.imagen-anuncio{
    display: block;
}

.imagen-anuncio img{
    width: 800px;
    height: auto;
    display: block;
    margin: auto;
}

/* Para el formulario*/

.centrar-formulario{
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-content{
    background: linear-gradient(
        50deg,
        rgba(40,42,55,1) 50%,
        rgba(40,42,55,0.7)),
        url(/img/formulario.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px;
    width: 1000px;
    border-radius: 25px;
}

.form-content h2{
    color: #F4F6F9;
    font-size: 40px;
    margin-bottom: 25px;
}

form{
    display: flex;
    flex-direction: column;
    width: 50%;
}

label{
    font-size: 17px;
    color: #959AAB;
    margin-bottom: 10px;
}

input , textarea{
    padding: 17px 14px;
    background-color: #333646;
    border: 0;
    font-size: 15px;
    color: #F4F6F9;
    margin-bottom: 20px;
    border-radius: 10px;
}

:focus{
    outline: 1px solid #1E92E9;
}

.btn-formulario{
    background-color: #1E92E9;
    width: 150px;
    align-self: flex-end;
    cursor: pointer;
}

.btn-formulario:hover{
    background-color: #219BF9;
}

@media(max-width:991px){
    .form-content{
        width: 100%;
    }

    form{
        width: 100%;
    }
}